@import './breakpoints';

// Inputs
.input() {

    margin-bottom: 10px;
    padding-top: 0;

    .input-group__input {
      // Important needed to override blue primary outline on focus
      border: 1px solid #eee !important;
      border-radius: 3px;
    }

    // Set all inputs to the same height and ensure their contents are vertically centered
    input,
    .input-group__selections__comma {
        font-size: 14px;
        height: 30px;
        display: flex;
        align-items: center;
    }

    .input-group--select__autocomplete {
        padding: 0;
    }

    ::-webkit-input-placeholder {
        font-style: italic;
    }

    .input-group {
        padding-top: 0;
    }

    .input-group__input {
        align-items: center;
        min-height: unset;

        // Needed to override 16px padding for date picker input
        padding: 10px !important;
    }

    .input-group__details {
      // The error messages shouldn't take up space if they aren't present
      min-height: 0;
      padding: 0;

      // Hide the input underline
      &:before, &:after {
        display: none;
      }
    }

    .input-group__messages {
      margin: 5px 0;
    }
}

// Containers
.container-inner {
    margin: 0 auto;
    padding: 0;
    width: 90%;

    @media @break-mobile {
      padding: 30px 0;
    }
}
