@import './breakpoints';

// Inputs
.input() {
  border: 1px solid #eee;
  border-radius: 3px;
  margin-bottom: 20px;
  padding-top: 0;

  input, .input-group__selections__comma {
    font-size: 14px;
  }

  ::-webkit-input-placeholder {
    font-style: italic;
  }

  .input-group {
    padding-top: 0;
  }

  .input-group__input {
    align-items: center;
    min-height: unset;

    // Needed to override 16px padding for date picker input
    padding: 10px !important;
  }

  // Hide the input underline
  .input-group__details {
    display: none;
  }
}

// Containers
.container-inner {
    margin: 0 auto;
    padding: 30px 0;
    width: 90%;

    @media @break-tablet-portrait {
        width: 75%;
    }

    @media @break-desktop {
        width: 50%;
    }
}
